<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


<title>Ocjene</title>
</head>

<body>

	<div class="container">

		<h3 style="text-align: center; margin-top: 20px;">Evidencija
			studenata</h3>
		<hr>
	
		<div th:if="${#lists.isEmpty(studenti)}">
			<h2 class="text-center">Nije evidentirana prisutnost za sve vježbe, <a th:href="@{/studenti/upisiPristustvo}">unesi prisutnost</a>.</h2>
		</div>	
			
		<div th:if="${not #lists.isEmpty(studenti)}">	
			<p class="h4 mb-4 text-center">Upis ocjene</p>
	
		<div class="row">
			<div class="col-md-3"></div>
				<div class="col-md-6">
					<form action="#" th:action="@{/studenti/spremiOcjenu}"
						th:object="${upisOcjeneDto}" method="POST">
			
						<label for="student"  class="col-form-label">Odaberi studenta: </label> 
						<select id="student" class="form-control" th:field="*{studentId}" >
							<div th:each="temp : ${studenti}">
								<option th:value="${temp.id}" th:text="${temp.ime + ' ' + temp.prezime + ', ' + temp.jmbag}"/>
							</div>
						</select>
						
						<br>
						
						<label for="vjezbe"  class="col-form-label">Odaberi ocjenu: </label> 
						<select id="vjezbe" class="form-control" th:field="*{ocjena}">
							<option value="5">Odličan (5)</option>
							<option value="4">Vrlo dobar (4)</option>
							<option value="3">Dobar (3)</option>
							<option value="2">Dovoljan (2)</option>
							<option value="1">Nedovoljan (1)</option>
						</select>
						
						<br>
						<center>
						<button type="submit" class="btn btn-success btn-sm">Upiši ocjenu</button>
						</center>
					</form>
				</div>
			</div>
 		</div>
 		
		<hr>
 		<center>
 		<a th:href="@{/studenti/lista}">Povratak na listu studenata</a>
 		</center>
	</div>
</body>
</html>