<!DOCTYPE HTML>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


<title>Pregled ocjena</title>
</head>

<body>

	<div class="container">
	
		<h3 style="text-align:center; margin-top:20px;">Evidencija studenata</h3>
		<hr>
		
		<div th:if="${uneseneSveVjezbe} == false">
			<h2 class="text-center">Nisu evidentirane sve vježbe ili ocjene, unesi <a th:href="@{/studenti/upisiPrisustvo}">vježbe</a> ili <a th:href="@{/studenti/upisiOcjenu}">ocjene</a>.</h2>
		</div>
		
		<div th:if="${uneseneSveVjezbe} == true">
			<p class="h4 mb-4 text-center">Uspješni studenti</p>
			
			<a th:href="@{/studenti/izveziUspjesne}" class="btn btn-primary btn-sm mb-3">Izvezi u Excel</a>
			
			<table class="table table-bordered table-striped text-center">
				<thead class="thead-dark">
					<tr>
						<th>Ime</th>
						<th>Prezime</th>
						<th>Email</th>
						<th>JMBAG</th>
						<th>Ocjena</th>
					</tr>
				</thead>
		
				<tbody>
					<tr th:each="temp : ${uspjesniStudenti}">
						<td th:text="${temp.ime}" />
						<td th:text="${temp.prezime}" />
						<td th:text="${temp.email}" />
						<td th:text="${temp.jmbag}" />
						<td th:text="${temp.ocjena}" />
					</tr>
				</tbody>
			</table>
			
			<hr>
			
			<p class="h4 mb-4 text-center">Neuspješni studenti</p>
			
			<a th:href="@{/studenti/izveziNeuspjesne}" class="btn btn-primary btn-sm mb-3">Izvezi u Excel</a>
			
			<table class="table table-bordered table-striped text-center">
				<thead class="thead-dark">
					<tr>
						<th>Ime</th>
						<th>Prezime</th>
						<th>Email</th>
						<th>JMBAG</th>
					</tr>
				</thead>
		
				<tbody>
					<tr th:each="temp : ${neuspjesniStudenti}">
						<td th:text="${temp.ime}" />
						<td th:text="${temp.prezime}" />
						<td th:text="${temp.email}" />
						<td th:text="${temp.jmbag}" />
					</tr>
				</tbody>
			</table>
		</div>

		<hr>
		<center>
 		<a th:href="@{/studenti/lista}">Povratak na listu studenata</a>
 		</center>
	</div>
</body>
</html>